.cs-row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.cs-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-inline: 2.5rem;
}

.cs-column > img {
  width: 30em;
  margin: auto 0;
  opacity: 90%;
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(219, 205, 166, 0.2);
  /* background-color: rgba(219, 205, 166, 0.2); */
  mix-blend-mode: color;
}

.cs-column > h1 {
  text-align: center;
  color: var(--primary);
}

.cs-column > p {
  max-width: 25em;
  padding-inline: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

.e-mail {
  font-size: large;
  text-decoration: underline;
  color: var(--primary);
}