/* custom.scss */
// Import swiper scss
@import "~swiper/swiper";

// Import swiper modules to be adjusted
@import "~swiper/modules/navigation/navigation";
@import "~swiper/modules/pagination/pagination";
@import "~swiper/modules/scrollbar/scrollbar";

:root {
  // Root variables
  --swiper-theme-color: #ffab10;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */

  // Navigation variables
  --swiper-navigation-size: 2rem;
  --swiper-navigation-sides-offset: .2rem;
  /*
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-color: var(--swiper-theme-color);
  */

  // Scrollbar variables
  /*
    --swiper-scrollbar-border-radius: 10px;
    --swiper-scrollbar-top: auto;
    --swiper-scrollbar-bottom: 4px;
    --swiper-scrollbar-left: auto;
    --swiper-scrollbar-right: 4px;
    --swiper-scrollbar-sides-offset: 1%;
    --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
    --swiper-scrollbar-size: 4px;
  */

  // Pagination variables
  --swiper-pagination-bottom: .7rem;


  /*
    --swiper-pagination-color: var(--swiper-theme-color);
    --swiper-pagination-left: auto;
    --swiper-pagination-right: 8px;
    --swiper-pagination-bottom: 8px;
    --swiper-pagination-top: auto;
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px;
    --swiper-pagination-bullet-inactive-color: #000;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;
  */
}
