.about-me {
  background: linear-gradient(
    rgb(245, 241, 231),
    rgb(219, 205, 166)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 3.5rem;
  overflow-y: hidden;
}