.main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(black 50%, grey 50%);
}

.flexContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding: 3em;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  max-width: 50rem;
  margin-inline: auto;
  margin-block: 1rem;
  padding-inline: 1rem;
}

.innerWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 55ch;
}

.innerWrapper > h1, p {
  padding-bottom: 1em;
  width: 1fr;
}

.diagonal {
  position: relative;
  isolation: isolate;
  z-index: 1;
  width: 100%;
}

.diagonal::after {
  content: "";
  background: grey;
  z-index: -1;
  position: absolute;
  inset: 0; 
  transform: skewY(10deg);
  
}

.img {
  position: absolute;
  top: -8rem;
  left: -1.8rem;
  background-color: black;
  max-height: 15rem;
  max-width: 15rem;
  border-radius: 0%; /* Set this to 50 if you like the circle*/
  box-shadow: 
    .2rem .2rem .5rem 0 black,
    0 0 0 1rem grey,
    0 0 0 2rem black;
}

.imgWrapper {
  position: relative;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
}

.innerWrapper > .gridContainer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 3rem;
}

.btn {
  border: 0;
  padding: .5em;
  border-radius: .5rem;
  width: 8rem;
  box-shadow: 
    .2rem .2rem .3rem -.2rem black
}

.btn:hover {
  cursor: pointer;
}

/* --------------- Media Queries --------------- */

@media screen and (max-width: 60em ) {
  .img {
    top:-3rem;
    left:0;
    height: 15rem;
    width: 15rem;
  }
  .imgWrapper {
    height: 15rem;
    width: 15rem;
  }
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    gap: 0;
    justify-items: center;
  }
  .innerWrapper > .gridContainer {
    gap: 0;
    justify-items: start;
  }
  .diagonal {
    margin-top: 5rem;
  }
  .btn, .a {
    max-width: 6rem;
    justify-self: center;
  }
  
}

@media screen and (max-width: 25rem) {
    .img {
      top:-3rem;
      left:0;
      height: 10rem;
      width: 10rem;
    }
    .imgWrapper {
      height: 10rem;
      width: 10rem;
    }
}