.hero {
  position: relative;
  height: 100vh;
  min-height: 47rem;
  max-height: 62rem;
  background-image: url(../../assets/imgs/WebdevArt01.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 130%;
}

@media screen and (min-width: 17.55em ) {
  .hero {
    min-height: 47rem;
  }
}

@media screen and (min-width: 32em) {
  .hero {
    background-position-x: right;
    background-size: 100%;
  }
}

@media screen and (min-width: 55em) {
  .hero {
    background-size: 80%;
  }
}

@media screen and (min-width: 65em) {
  .hero {
    background-size: 77%;
  }
}
