.my-work {
  background-color: rgb(245, 241, 231);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding-top: 3.5rem;
  overflow-y: hidden;
}

.tech-stack {
  width: 100%;
  border-top: 0.05rem black solid;
  border-radius: 0.5rem;
  padding-top: 1.5rem;
}

.tech-stack-header {
  padding-bottom: 0.5rem;
  color: var(--primary);
}

.tech-stack-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  width: 90%;
}

.tech-stack-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.25rem;
}

.tech-stack-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  width: 100%;
  flex-direction: column;
}

.center {
  justify-content: center;
}

.tech-stack-row > .center:first-child {
  flex-direction: row;
  margin-block: 3rem 2rem;
}
.tech-stack-row > .center:last-child {
  flex-direction: row;
  margin-bottom: 3rem;
}

.wide-column {
  width: 100%;
}

.tech-stack-row > p {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--primary);
}

.move-up {
  transform: translateY(-1rem) scaleX(-1);
  margin-inline: 1rem;
  color: var(--primary);
}

.move-down {
  transform: translateY(1rem);
  margin-inline: 1rem;
  color: var(--primary);
}

.flip-down {
  transform: translateY(1rem) scaleX(-1);
}

.flip-up {
  transform: translateY(-1rem);
}

/* -------------------------------- */


@media screen and (min-width: 49em) {
  .my-work {
    background-color: rgb(245, 241, 231);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding-top: 3.5rem;
    overflow-y: hidden;
  }
  
  .tech-stack {
    width: 100%;
    border-top: 0.05rem black solid;
    border-radius: 0.5rem;
    padding-top: 1.5rem;
  }
  
  .tech-stack-header {
    padding-bottom: 0.5rem;
    color: var(--primary);
  }
  
  .tech-stack-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
    width: 80%;
  }
  
  .tech-stack-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  
  .tech-stack-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    width: 100%;
  }
  
  .center {
    justify-content: center;
  }

  .tech-stack-row > .center {
    flex-direction: row;
    margin-block: 0;
  }
  
  .wide-column {
    width: 100%;
  }
  
  .tech-stack-row > p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary);
  }
  
  .move-up {
    transform: translateY(-1rem) scaleX(-1);
    margin-inline: 1rem;
    color: var(--primary);
  }
  
  .move-down {
    transform: translateY(1rem);
    margin-inline: 1rem;
    color: var(--primary);
  }
  
  .flip-down {
    transform: translateY(1rem) scaleX(-1);
  }
  
  .flip-up {
    transform: translateY(-1rem);
  }
  
}