.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  z-index: 5;
}
.main {
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: auto;
  padding: 0;
}

