/* Navigation */
.nav {
  position: fixed;
  width: 100%;
  height: 4rem;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 0.4rem 0.1rem rgba(106, 42, 165, 0.318);
  z-index: 11;
  background-color: rgba(255, 255, 255, 0);
  transition: var(--animation-timing);
}

.nav-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 0.3rem;
  z-index: 12;
  background-color: rgba(255, 255, 255, 0);
}

.nav-row > a,
.nav-row > a:visited {
  color: var(--primary);
}

.ul {
  display: none;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
}

.li {
  position: relative;
  padding-left: 1em;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary);
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

.a {
  position: relative;
  text-decoration: none;
  color: var(--primary);
  transition: all ease-in-out 200ms;
}

.a:hover {
  color: var(--secondary);
}

.a::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--secondary);
  transform: scaleX(0);
  transition: all ease-in-out 200ms;
}

.a:hover::after {
  transform: scaleX(100%);
}

.h2,
.bold {
  position: relative;
  color: var(--primary);
  font-size: 2rem;
  align-self: flex-start;
  font-weight: bold;
}

.bold {
  align-self: center;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-mask {
  height: 3.5rem;
  width: 3.5rem;
  background-color: var(--primary);
  -webkit-mask-image: url(../../assets/imgs/logo3.svg);
  mask-image: url(../../assets/imgs/logo3.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transform: rotate(10deg);
  transition: background-color var(--animation-timing);
}

.logo-mask:hover {
  background-color: var(--secondary);
}

/* Media Queries */

@media screen and (min-width: 55em) {
  /* Navigation */
  .nav {
    position: fixed;
    max-width: 1100px;
    height: 4rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 0.4rem 0.1rem rgba(106, 42, 165, 0.318);
    z-index: 11;
    background-color: rgba(255, 255, 255, 0);
    transition: var(--animation-timing);
  }

  .nav-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 4rem;
    padding-block: 0.3rem;
    z-index: 12;
    background-color: rgba(255, 255, 255, 0);
  }

  .ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
  }

  .li {
    position: relative;
    padding-left: 2rem;
  }

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }

  .a {
    position: relative;
    text-decoration: none;
    transition: all ease-in-out 200ms;
  }

  .a:hover {
    color: var(--secondary);
  }

  .a::after {
    content: "";
    position: absolute;
    bottom: -0.3rem;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--secondary);
    transform: scaleX(0);
    transition: all ease-in-out 200ms;
  }

  .a:hover::after {
    transform: scaleX(100%);
  }

  .h2,
  .bold {
    font-size: 2rem;
    align-self: flex-start;
    font-weight: bold;
  }

  .bold {
    align-self: center;
  }
}
