/* Navigation */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-inline: 5rem;
  padding-block: .5rem;
}

.ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
}

.li {
  padding-inline: 1em;
  font-size: .8rem;
  font-weight: bold;
}

.a {
  text-decoration: none;
  color: white;
}

.a::after {
  content: "";
  width: 100%;
  height: .2rem;
  
}

.hero {
  height: 100vh;
  background-image: url(./imgs/WebdevArt01.jpg);
  /* background: linear-gradient(.6turn, rgb(108, 38, 108), rgb(219, 205, 166)); */
  background-size: 75%;
  background-position-x: right;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 72.5%;
}
.overlay {
  position: absolute;
  /* background: linear-gradient(.6turn, rgba(108, 38, 108, 0.175), rgba(219, 205, 166, 0.175)); */
  background-color: rgba(106, 42, 165, 0.318);
  height: 100%;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 94%;
  padding-inline: 10%;
  padding-top: 2%;
  overflow-y: hidden;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 14.5rem;
  align-self: flex-start;
  margin-top: 2rem;
}

.h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: bolder;
  align-self: flex-start;
  /* text-align: center; */
  /* -webkit-text-stroke-width: .1rem;
  -webkit-text-stroke-color: rgba(70, 18, 134, 0.659); */
}

.h2 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  align-self: flex-start;
  /* text-align: center; */
  /* -webkit-text-stroke-width: .1rem;
  -webkit-text-stroke-color: rgba(70, 18, 134, 0.659); */
}

.button {
  border-radius: .5rem;
  padding: .5rem;
  text-align: center;
  border: 0;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.250) 0rem .2rem .25rem .05rem;
  background-color: rgb(210, 110, 150);
  font-weight: 500;
  transition: all ease-in-out 200ms;
  justify-self: flex-start;
  align-self: flex-start;
  margin-block: 1rem;
}

.button:hover {
  background-color: rgb(100, 46, 68);
  color: rgb(255, 255, 255);
  padding: .7rem;
}

.aside {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 70%;
}

.img {
  position: relative;
  mix-blend-mode: multiply;
  right: -3.5rem;
  bottom: 1rem;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  object-fit: contain;
}