@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Fira Sans, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  /* background-color: grey; */
  margin: 0;
  overflow-x: hidden;
}

.no-scroll {
  height: 100%;
  overflow-y: hidden;
}

/* ---------------Scrollbar------------------ */
/* .scrollbar {
  scrollbar-width: 1rem;
  scrollbar-color: rgb(195, 165, 205);
} */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: rgb(195, 165, 205);
}

::-webkit-scrollbar-thumb {
  background: rgb(215, 125, 110);
  border-radius: 1rem;
  width: 1rem;
  max-height: 1rem;
}

::-webkit-scrollbar-button {
  height: 2vh;
  background: rgb(195, 165, 205);
}
